<div class="mt-4">
    <div class="row ">
        {{#each Courses}}
        <div class="">
            <div class="card mt-4 w-25">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Hoc lap trinh</a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>